@import "tailwindcss";

@theme {
  --color-brand: #1db954;
  --color-spotify-black: #121212;
  --color-spotify-grey: #181818;
  --color-spotify-light-grey: #282828;
}

body {
  background-color: var(--color-spotify-black);
  color: white;
}